body{
    background: #008888;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;    
}

.slide-card{
    height: 85vh;
    width: 80vw;
    background-color: #fdfdfd;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.60);
    justify-content: center;
}
 .hero-slider {
	 width: 100%;
	 height: 100vh;
	 overflow: hidden;
}

.hero-slider>p{
    padding-top: 200px;
}

.carousel-cell>img{
	justify-content: center;
	height: 85vh;
	width: 81vw;
}

 .hero-slider .carousel-cell {
	 width: 100%;
	 height: 100%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-position: center;
}
 .hero-slider .carousel-cell .inner .btn:hover {
	 background: #000;
	 color: #000;
}
 .hero-slider .flickity-prev-next-button {
	 width: 40px;
	 height: 50px;
	 background: transparent;
}
 .hero-slider .flickity-prev-next-button:hover {
	 background: transparent;
}
 .hero-slider .flickity-prev-next-button .arrow {
	 fill: #f00;
}
 /* .hero-slider .flickity-page-dots {
	 bottom: 100px;
}
 .hero-slider .flickity-page-dots .dot {
	 height: 1px;
	 opacity: 1;
	 background: #000;
	 border: 0 solid white;
	 border-radius: 0;
}
 .hero-slider .flickity-page-dots .dot.is-selected {
	 background: #fff;
	 border: 0 solid #f00;
} */

@media only screen and (min-width: 1000px) {
    .slide-card {
        flex-direction: row-reverse;
        /* height: 45vh; */
    }

    .slide-card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }
}

@media only screen and (max-height: 640px) {
    .slide-card {
        flex-direction: row-reverse;
    }

    .slide-card img.birthday {
        width: 100%;
        max-width: 50vw;
        max-height: unset;
    }

}
 